name: Build beta

env:
  SLN_PATH: 1.6/Source/RaisedStuff/RaisedStuff/RaisedStuff.sln

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'

jobs:
  build:
    name: Build beta
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Setup Dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 8.0.x

    - name: Install Mod Dependencies
      run: dotnet restore ${{ env.SLN_PATH }}

    - name: Build Mod
      run: dotnet build ${{ env.SLN_PATH }} --configuration Release --no-restore

    - run: mkdir -p output/Raised-Platforms

    - name: Move files
      run: mv About/ Assemblies/ Defs/ Languages/ Textures/ output/Raised-Platforms

    - name: Upload Mod Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Raised-Platforms-beta
        path: |
          output/
